:root {
    --coffe-color: #ad661f ;
}

.main-content .content_1 p {
    margin-bottom: 10px;
}

.comment {
    width: 100%;
    display: grid;
    /* background-color: #ccc; */
}

.comment {
    background-color: #f5f6f7;
    margin-top: 10px;
}

.comment textarea {
    width: 100%;
    padding: 5px 10px;
    outline: none;
}

.comment_button {
    text-align: right;
}

.comment button {
    border: none;
    width: 50px;
    color: var(--white);
    height: 26px;
    background: var(--coffee);
    margin: 10px;
}