
/* BODY CSS */

.line2 {
    height: 1px;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.content_2 .content_2-main a:hover {
    color: var(--coffee);
}

.comment {
    background-color: #f5f6f7;
    margin-top: 10px;
}

.comment textarea {
    width: 100%;
    padding: 5px 10px;
}

.comment_button {
    text-align: right;
}

.comment button {
    border: none;
    width: 50px;
    color: var(--white);
    height: 26px;
    background: var(--coffee);
    margin: 10px;
}

.comment button:hover {
    opacity: 0.9;
}

/* FOOTER CSS */
.line {
    width: 100%;
    height: 1px;
    background-color: var(--coffee);
}

.footer__contact {
    padding: 20px 0;
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__contact--medias h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer__contact--imgs {
    display: flex;
}
.footer__contact--imgs a:nth-of-type(1) {
    width: 13.24px;
    height: 23px;
    display: block;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(2) {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
.footer__contact--imgs a:nth-of-type(3) {
    display: block;
    width: 26px;
    height: 20px;
    margin-top: 2px;
}
.footer__contact--imgs a img {
    width: 100%;
    height: 100%;
}
.footer__contact--medias .footer__contact--moiat {
    width: 190px;
    height: 75px;
    margin-top: 3px;
    display: block;
}

.footer__contact--moiat img{
    width: 100%;
    height: 100%;
}

.footer__contact--update {
    margin-right: 75px;
}

.footer__contact--update h4 {
    font-size: 16px;
    color: var(--coffee);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 5px;
}

.footer__contact--update p {
    font-size: 12px;
}

.footer__contact--update-input-group {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.footer__contact--update input{
    padding: 5.5px 65px 5.5px 15px;
    font-size: 14px;
    border: 1px solid var(--light-gray);
    outline: 0;
}

.footer__contact--update input::placeholder {
    font-size: 14px;
    color: var(--light-gray);
}

.footer__contact--update button {
    width: 100px;
    height: 35px;
    background-color: var(--coffee);
    border: 0;
    color: var(--white);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.footer__contact--update-slogan {
    color: rgb(165, 163, 163);
    margin-top: 5px;
}

.footer__addr {
    width: 100%;
    background-color: var(--coffee);
}

.footer__addr--text {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.footer__addr p {
    font-size: 11px;
    color: var(--white);
    line-height: 20px;
}

.footer__addr b {
    text-transform: uppercase;
}



